
:root {
  display: flex;
  align-items: center;
  justify-content: center;
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--light);
  font-weight: 600;
  color: var(--green);
  margin: 10p 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

